<mat-tab-group>
    <mat-tab label="Ui mapping">
        <div class="row">
            <button class="update-btn" (click) = "updateUiMapping()">Update UI mapping</button>
        </div>
        <json-editor [options]='options' [data]='indexConfig.index_ui_mapping?.fields'></json-editor>
    </mat-tab>
    <mat-tab label="Filter config">
        <div class="row">
            <button class="update-btn" (click) = "updateFilterConfig()">Update Filter Config</button>
        </div> 
        <json-editor [options]='options' [data]='indexConfig.t_filter_response_types'></json-editor>
    </mat-tab>
    <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
  </mat-tab-group>